<div class="row mt-3">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>Total Users</strong>
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>Total Tours</strong>
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>Total User Views</strong>
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>Total Tour Views</strong>
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>Total Point Views</strong>
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>Most Viewed Tour</strong>
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>Total Point Visits</strong>
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>Latest View</strong>
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
      </div>
    </div>
  </div>
</div>